@import 'variables';
@import 'layout/navbar';
@import 'layout/NewsLine';
@import 'layout/footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@include navbar-style ();

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}




//Styles for Main section

.hero-container {
    background-image: url(../img/LastHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    margin-top: 5rem;
    cursor: default;

    .hero-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        cursor: default;
    }

    .hero-text h2 {
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 10%;
        color: $secondary-color;
    }

    .hero-text h1 {
        font-family: $font-family-poppins;
        font-weight: $font-weight-extra-light;
        font-size: 3.2rem;
        line-height: 110%;
        color: $primary-color;
        margin: 0;
    }

    .hero-text h1 span {
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        font-size: 5.5rem;
        line-height: 110%;
        color: $primary-color;
    }



    .hero-redline {
        @include redline-style;
    }

    .hero-content {
        display: flex;
        align-items: center;
        flex-direction: column;

        .hero-svg {
            width: 170vh;
            height: auto;
            max-width: 100%;
            padding: 0;
            margin-top: 2rem;

        }
    }
    a {
        text-decoration: none;

        .hero-btn {
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            border-radius: $border-radius;
            border: none;
            background: linear-gradient(60deg, #003972 0%,
                                                #003972 30%, 
                                                #0A7AC2 30% , 
                                                #0A7AC2 70%);
            width: 18.6rem;
            height: 4rem;
            cursor: pointer;
            transition: background-color 1s ease;

            .text-wrapper {
                display: flex;
                flex-direction: column;
                margin: 0 20px 0 0 ;

                p:nth-of-type(1) {
                    color: #fff;
                    font-family: $font-family-poppins;
                    font-weight: $font-weight-semi-bold;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin: 0 ;
                }
    
                p:nth-of-type(2) {
                    color: #fff;
                    font-family: $font-family-poppins;
                    font-weight: $font-weight-regular;
                    font-size: 12px;
                    margin: 0 95px 0 0 ;
                }
            }

            img {
                margin: 0 0 0 28px;
            }
        }

        .hero-btn:hover {
            background: linear-gradient(60deg, #0A7AC2 0%,
                                                #0A7AC2 30%, 
                                                #003972 30% , 
                                                #003972 70%);
        }
    }
}


//Styles for second homepage section
.sec1-container {
    background-image: url(../img/LastHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    margin-top: 5rem;
    cursor: default;

    .sec1-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .sec1-h1 {
            font-family: $font-family-poppins;
            font-weight: $font-weight-light;
            color: $primary-color;
            text-transform: $text-transform-uppercase;
            margin: 0;
        }

        .sec1-h1 strong {
            font-weight: 500;
        }
    }


    .sec1-redline {
        @include redline-style;
    }

    .sec1-content {
        display: flex;
        align-items: center;
        flex-direction: column;

        .sec1-svg {
            width: 170vh;
            height: auto;
            max-width: 100%;
            padding: 0;
            margin-top: 2rem;

        }
    }

    .sec1-btn {
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        border-radius: $border-radius;
        border: none;
        background: linear-gradient(115deg, #005C97 75%, #0A7AC2 25%);
        margin-top: 20px;
        padding: 0;
        width: 14rem;
        cursor: pointer;
        transition: background-color 1s ease-out;

        p {
            color: #fff;
            text-align: left;
            padding-left: 21px;
            font-family: $font-family-poppins;
            font-weight: $font-weight-semi-bold;
        }

        img {
            margin: 0 5px 0 0;
        }
    }

    .sec1-btn-arrow {
        margin-left: auto;
        padding-right: 15px;
    }

    .sec1-btn:hover {
        background: linear-gradient(115deg, #0A7AC2 75%, #005C97 25%);
    }
}

//Styles for Homepage third section

.homepage-section2 {
    transform: scale(0.8);
    transform-origin: center;
    position: relative;
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background: $primary-color;
    zoom: 0.85;
    padding: 5%;
    cursor: default;


    .sec2-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .h2-sec2 {
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        color: $third-color;
        font-size: 1.1rem;
        line-height: 150%;
        margin: 0 0 20px 0;
    }

    .h1-sec2 {
        font-family: $font-family-poppins;
        font-weight: $font-weight-light;
        font-size: 2.3rem;
        line-height: 130%;
        color: #ffff;
        margin: 0 0 23px 0;
        padding-bottom: 0.7rem;
    }

    .h1-sec2 strong {
        font-weight: $font-weight-medium;
    }

    .sec2-redline {
        @include redline-style;
    }

    .sec2-button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding-bottom: 2.6rem;


        .sec2-buttons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 2px solid rgba(10, 124, 194, 0.267);
            border-radius: 5px;
            background-color: $primary-color;
            padding: 0;
            height: 2.8rem;
            cursor: pointer;
            padding: 10px 20px;
            transition: 0.3s ease-in;
        }

        .sec2-buttons:hover {
            background-color: #ffff;
        }
    }

    .sec2-buttons-text {
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
        color: $third-color;
        font-size: 1rem;
        padding: 0;
    }

    .sec2-buttons-text:hover {
        color: $primary-color;
    }

    .cards-sec2-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 1rem;
    }

    .cards-sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.9rem;
        width: 100%;
    }

    .card1-sec2,
    .card2-sec2,
    .card3-sec2 {
        background-color: #ffff;
        border-radius: $border-radius;
        flex: 0 0 auto;
        width: 25rem;
    }

    .card1-png,
    .card2-png,
    .card3-png {
        width: 25rem;
        height: 14rem;
    }

    .card1-sec2 p,
    .card2-sec2 p,
    .card3-sec2 p {
        color: $secondary-color;
        font-size: 0.9rem;
        line-height: 130%;
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        padding: 30px 0 0 30px;
    }

    .card1-sec2 p span,
    .card2-sec2 p span,
    .card3-sec2 p span {
        color: $primary-color;
        font-weight: $font-weight-light;
        text-decoration: none;
    }

    .card1-sec2 h3,
    .card2-sec2 h3,
    .card3-sec2 h3 {
        color: $primary-color;
        font-weight: $font-weight-semi-bold;
        padding: 0 0 5px 30px;
    }

    .section2-btn-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 3.75rem;
        padding: 0;
    }

    .arrow-btn-left-sec2,
    .arrow-btn-right-sec2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        width: 3.75rem;
        height: 3.75rem;
        padding: 0;
        margin: 2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .arrow-btn-left-sec2 {
        left: 1rem;
    }

    .arrow-btn-right-sec2 {
        right: 1rem;
    }

    .sec2-arrow-left,
    .sec1-arrow-right {
        width: 1rem;
        height: 1rem;
    }

    .sec2-arrow-left {
        transform: rotate(180deg);
    }

    a {
        text-decoration: none;

        .latestNews-btn {
            display: flex;
            position: absolute;
            bottom: 41px;
            left: 45%;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            border-radius: $border-radius;
            border: none;
            background: linear-gradient(115deg, #0A7AC2 75%, #1299ed 25%);
            width: 12.4rem;
            height: 2.8rem;
            cursor: pointer;
            transition: background-color 1s ease-out;

            p {
                color: #fff;
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                text-transform: uppercase;
                margin: 0 0 0 15px;
            }

            img {
                margin-right: 9px;
            }
        }

        .latestNews-btn:hover {
            background: linear-gradient(115deg, #1299ed 75%, #0A7AC2 25%);
        }
    }
}

//SECTION 3

.homepage-sec3-container {
    height: 100vh;
    //background-color: grey;
    transform: scale(0.9);
    transform-origin: center right;
    background-image: url(../img/sec3bg1.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 15rem;
    cursor: default;

    .homepage-sec3-text {
        padding-left: 3rem;
    }

    h3:nth-of-type(1) {
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        color: $secondary-color;
        font-size: 18px;
        line-height: 150%;
        margin: 1.5rem 0 1.5rem 0;
    }

    h1 {
        font-family: $font-family-poppins;
        font-weight: $font-weight-light;
        color: $primary-color;
        font-size: 38px;
        line-height: 130%;
        text-transform: uppercase;
    }

    h1 span {
        font-family: $font-family-poppins;
        font-weight: $font-weight-medium;
        color: $primary-color;
        font-size: 38px;
        line-height: 130%;
        text-transform: uppercase;
    }

    .sec3-redline {
        @include redline-style;
    }

    h3:nth-of-type(2) {
        font-family: $secondary-font-family-Lato;
        font-weight: $font-weight-regular;
        color: #333333;
        font-size: 20px;
        line-height: 160%;
    }

    .homepage-sec3-vertical-text {
        position: absolute;
        left: -20%;
        top: 40%;
        transform: rotate(-90deg) translateY(-50%);
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        font-size: 8rem;
        padding-left: 1rem;
        margin: 0;
        color: white;
        text-shadow:
            -1px -1px 0 #333333,
            1px -1px 0 #333333,
            -1px 1px 0 #333333,
            1px 1px 0 #333333;
    }

    .homepage-sec3-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 56rem;
        background-color: $fourth-color;
        padding-top: 2.8rem;
        padding-left: 6rem;

        >div {
            max-height: 100%;
            padding-left: 1rem;
        }

        >div img {
            height: 3.7rem;
            width: 3.7rem;
            padding-bottom: 13px;
        }

        >div h2 {
            margin: 0;
            font-family: $font-family-poppins;
            font-weight: $font-weight-semi-bold;
            font-size: 22px;
            line-height: 130%;
            color: $primary-color;
        }

        >div p {
            margin: 0;
            font-family: $secondary-font-family-Lato;
            font-weight: $font-weight-regular;
            font-size: 1rem;
            line-height: 130%;
            color: $fifth-color;
        }
    }

    .homepage-sec3-btn {
        position: absolute;
        bottom: 0;
        right: 13rem;
        width: 20rem;
        height: 18.5rem;
        border: none;
        cursor: pointer;
        background: linear-gradient(60deg, hsl(203, 90%, 35%) 55%,
                hsl(203, 90%, 40%) 55%,
                hsl(203, 90%, 40%) 75%,
                hsl(203, 90%, 50%) 75%);

        h2 {
            position: absolute;
            bottom: 2rem;
            left: 2.5rem;
            font-family: $font-family-poppins;
            font-weight: $font-weight-semi-bold;
            color: #ffffff;
            font-size: 2rem;
            line-height: 130%;
            text-transform: capitalize;

        }

        img {
            position: absolute;
            right: 2.1rem;
            top: 2.1rem;
            width: 2rem;
            height: 2.1rem;
        }
    }
}

//SECTION 4

.homepage-sec4-container {
    position: relative;
    height: 100vh;
    //background-color: #0A7AC2;
    transform: scale(0.9);
    transform-origin: center left;
    cursor: default;

    img:nth-of-type(1) {
        height: 39.5rem;
    }

    img:nth-of-type(2) {
        position: absolute;
        height: 16.5rem;
        top: 0;
        left: 27rem;
    }

    img:nth-of-type(3) {
        position: absolute;
        height: 24rem;
        left: 27rem;
        bottom: 6rem;
    }

    .sec4-purple-line:nth-of-type(1) {
        position: absolute;
        top: -9rem;
        left: 23rem;
        width: 1rem;
        height: 8rem;
        transform: rotate(-20.78deg) skewY(20deg);
        background-color: #8E17BA;
    }

    .sec4-purple-line:nth-of-type(2) {
        position: absolute;
        left: 45rem;
        width: 1rem;
        height: 11rem;
        transform: rotate(-20.78deg) skewY(20deg);
        background-color: #8E17BA;
    }

    .homepage-sec4-contents {
        position: absolute;
        right: 0;
        top: -4rem;
        transform: scale(0.9);
        transform-origin: centre right;

        .homepage-sec4-content1 {

            h1 {
                font-family: $font-family-poppins;
                font-weight: $font-weight-light;
                font-size: 2.37rem;
                line-height: 130%;
                color: $primary-color;
                margin-bottom: 30px;
            }

            h1 span {
                font-weight: $font-weight-medium;
                text-transform: capitalize;
            }

            p:nth-of-type(1) {
                font-family: $secondary-font-family-Lato;
                font-weight: $lato-font-weight-bold;
                font-size: 1.25rem;
                line-height: 150%;
                color: $sixth-color;
                margin-bottom: 11px;
            }

            p:nth-of-type(2) {
                font-family: $secondary-font-family-Lato;
                font-weight: $lato-font-weight-bold;
                font-size: 18px;
                line-height: 160%;
                color: $fifth-color;
                margin-bottom: 30px;
            }
        }

        .homepage-sec4-content2,
        .homepage-sec4-content3,
        .homepage-sec4-content4 {
            display: flex;
            margin-bottom: 24px;

            img {
                width: 2rem;
                height: 2.5rem;
                padding: 17px 0 0 15px;
            }

            p {
                font-family: $secondary-font-family-Lato;
                font-weight: $lato-font-weight-bold;
                font-size: 20px;
                line-height: 160%;
                color: $primary-color;
                margin: 0;
                padding-left: 37px;
            }

            p span {
                font-family: $secondary-font-family-Lato;
                font-weight: $font-weight-regular;
                font-size: 18px;
                line-height: 160%;
                color: $fifth-color;
            }
        }

        .sec4-redline {
            @include redline-style;
            margin-bottom: 30px;
        }

        .homepage-sec4-btn {
            display: flex;
            align-items: start;
            height: 2.8rem;
            width: 15.6rem;
            background: linear-gradient(115deg, #005C97 75%,
                    #0A7AC2 25%);
            position: absolute;
            bottom: -5rem;
            margin-left: 2rem;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            padding: 0;

            p {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                padding: 0;
                margin: 10px 0 0 18px;
                text-transform: uppercase;
                color: #ffffff;
            }

            img {
                width: 14px;
                height: 16px;
                padding: 0;
                margin: 15px 0 0 37px;
            }
        }

        .homepage-sec4-btn:hover {
            background: linear-gradient(115deg, #0A7AC2 75%,
                    #005C97 25%);
        }
    }
}

//section5 styles 

.homepage-sec5-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 12rem;
    //background-color: #005C97;

    .homepage-sec5-contents {
        position: relative;
        height: 75%;
        width: 75%;
        background-color: #f3f3f3;

        .homepage-sec5-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 16.5rem;
            height: 16.5rem;
        }

        .homepage-sec5-bigtext {
            transform: scale(0.75);
            transform-origin: top left;
            position: relative;

            p:nth-of-type(1) {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 18px;
                cursor: default;
                line-height: 150%;
                color: $secondary-color;
                text-transform: uppercase;
                margin: 0 0 1rem 0;

            }

            h1 {
                font-family: $font-family-poppins;
                font-weight: $font-weight-medium;
                font-size: 4rem;
                cursor: default;
                line-height: 130%;
                color: $secondary-color;
                text-transform: uppercase;
                margin: 0 0 2rem 0;
            }

            h1 span {
                font-family: $font-family-poppins;
                font-weight: $font-weight-light;
                font-size: 4rem;
                line-height: 130%;
                color: $primary-color;
                margin: 0;
            }


            p:nth-of-type(2) {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                cursor: pointer;
                line-height: 150%;
                color: $seventh-color;
                text-transform: uppercase;
            }

            img:nth-of-type(1) {
                position: absolute;
                bottom: 0.8%;
                left: 12rem;
            }

            img:nth-of-type(2) {
                position: absolute;
                top: 3rem;
                left: -10rem;
                height: 5rem;
                width: 7rem;
                margin-bottom: 5.2rem;
            }
        }

        .homepage-sec5-text-bottom {
            position: absolute;
            bottom: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            flex-wrap: nowrap;
            position: relative;
            cursor: default;

            .homepage-sec5-item {
                display: flex;
                flex-direction: column;
                width: 70%;
                transition: opacity 0.3s ease, filter 0.3s ease;
                text-align: start;
                position: relative;

                .homepage-sec5-name {
                    font-family: $font-family-poppins;
                    font-weight: $font-weight-semi-bold;
                    font-size: 18px;
                    color: $primary-color;
                    margin: 0;
                    padding-bottom: 5px;
                }

                .homepage-sec5-description {
                    font-family: $secondary-font-family-Lato;
                    font-weight: $font-weight-regular;
                    font-size: 16px;
                    color: $fifth-color;
                    margin: 0;
                }


                &:hover {
                    opacity: 1;
                    filter: saturate(1);
                }
            }

            .homepage-sec5-item {
                &:hover~.homepage-sec5-item {
                    opacity: 0.3;
                    filter: saturate(0.3);
                }
            }
        }
    }
}

//section 6 styles

.homepage-sec6-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 90%);
    height: 80vh;
    gap: 8.8rem;

    .homepage-sec6-cards {
        transform: scale(0.9);
        display: flex;
        gap: 1rem;

        .homepage-sec6-card1,
        .homepage-sec6-card2,
        .homepage-sec6-card3 {
            width: 12.4rem;
            height: 21rem;
            text-align: center;
            position: relative;
            background-color: #ffffff;

            img {
                padding-top: 2rem;
                height: 2.5rem;
                width: 2rem;
            }

            h1 {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                color: $primary-color;
                font-size: 2.3rem;
                line-height: 130%;
            }

            p:nth-of-type(1) {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                color: $primary-color;
                font-size: 1rem;
                line-height: 130%;
            }

            p:nth-of-type(2) {
                font-family: $font-family-poppins;
                font-weight: $font-weight-regular;
                color: $primary-color;
                font-size: 0.8rem;
                line-height: 130%;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-left: 6.2rem solid transparent;
                border-right: 6.2rem solid transparent;
                border-top: 2rem solid #ffffff;
            }
        }
    }

    .homepage-sec6-card1 h1 {
        margin-bottom: 0;
    }

    .homepage-sec6-text {
        p {
            font-family: $font-family-poppins;
            font-weight: $font-weight-semi-bold;
            font-size: 18px;
            line-height: 150%;
            color: $secondary-color;
            letter-spacing: 10%;
            text-transform: uppercase;
        }

        h1 {
            font-family: $font-family-poppins;
            font-weight: $font-weight-light;
            font-size: 2.4rem;
            line-height: 130%;
            color: $primary-color;
            text-transform: uppercase;
        }

        h1 span {
            font-weight: $font-weight-semi-bold;
        }

        .homepage-sec6-redline {
            @include redline-style;
        }

        .homepage-sec6-btn {
            display: flex;
            align-items: start;
            height: 2.8rem;
            width: 18.8rem;
            position: relative;
            background: linear-gradient(115deg, #005C97 80%,
                    #0A7AC2 20%);
            border: none;
            border-radius: $border-radius;
            cursor: pointer;

            p {
                position: absolute;
                margin: 0;
                padding-top: 10px;
                left: 1rem;
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                color: #ffffff;
            }

            img {
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 14px;
                height: 16px;
            }
        }

        .homepage-sec6-btn:hover {
            background: linear-gradient(115deg, #0A7AC2 80%,
                    #005C97 20%);
        }
    }
}

.homepage-sec7-container {
    height: 90vh;
    position: relative;
    z-index: 2;

    .homepage-sec7-text {
        transform: scale(0.9);
        position: absolute;
        left: 13rem;
        bottom: 7rem;

        p:nth-of-type(1) {
            font-family: $font-family-poppins;
            font-weight: $font-weight-semi-bold;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 10%;
            color: $secondary-color;
            text-transform: uppercase;
        }

        h1 {
            font-family: $font-family-poppins;
            font-weight: $font-weight-light;
            font-size: 2.4rem;
            line-height: 130%;
            color: $primary-color;
            text-transform: uppercase;
        }

        h1 span {
            color: $secondary-color;
        }

        .homepage-sec7-redline {
            @include redline-style;
        }

        p:nth-of-type(2) {
            font-family: $secondary-font-family-Lato;
            font-weight: $font-weight-regular;
            font-size: 18px;
            line-height: 160%;
            color: $fifth-color;
        }

        .homepage-sec7-btn1 {
            display: flex;
            align-items: center;
            height: 2.8rem;
            width: 11.3rem;
            background: linear-gradient(115deg, #005C97 75%,
                    #0A7AC2 25%);
            position: absolute;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;

            p {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                text-transform: uppercase;
                color: #ffffff;
                margin: 0;
                padding-left: 1rem;
            }

            img {
                padding-left: 2.5rem;
                margin: 0;
                width: 14px;
                height: 16px;
            }
        }

        .homepage-sec7-btn2 {
            display: flex;
            align-items: center;
            height: 2.8rem;
            width: 13.4rem;
            background: linear-gradient(115deg, #005C97 75%,
                    #0A7AC2 25%);
            position: absolute;
            left: 15rem;
            border: none;
            margin-left: -35px;
            border-radius: $border-radius;
            cursor: pointer;

            p {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                text-transform: uppercase;
                color: #ffffff;
                margin: 0;
                padding-left: 1rem;
            }

            img {
                padding-left: 2rem;
                margin: 0;
                width: 14px;
                height: 16px;
            }
        }


        .homepage-sec7-btn1:hover {
            background: linear-gradient(115deg, #0A7AC2 75%,
                    #005C97 25%);
        }

        .homepage-sec7-btn2:hover {
            background: linear-gradient(115deg, #0A7AC2 75%,
                    #005C97 25%);
        }
    }

    .homepage-sec7-images {
        position: relative;

        img {
            position: absolute;
            right: -5rem;
            top: 7.1rem;
            transform: scale(0.8);
        }

        .sec7-purple-line {
            @include purple-line;
            position: absolute;
            right: 36rem;
            top: 31.5rem;
            width: 7px;
        }
    }
}


.homepage-footer {
    height: 100%;
    background-image: linear-gradient(hsl(0, 0%, 20%) 5%, hsla(0, 0%, 0%, 0)), url(/img/footerbg.png), url(/img/Rectangle419.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 3.125rem;
    z-index: 0;

    .gray-top {
        position: absolute;
        top: -3.125rem;
        background-color: #333333;
        height: 3.125rem;
        width: 100%;
        z-index: -1;
    }


    .footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        p {
            font-family: $font-family-poppins;
            font-weight: $font-weight-semi-bold;
            color: $fourth-color;
            font-size: 18px;
            line-height: 150%;
            letter-spacing: 10%;
            margin: 0;
            padding-top: 4rem;
        }

        h1 {
            font-family: $font-family-poppins;
            font-weight: $font-weight-extra-light;
            color: $fourth-color;
            font-size: 4rem;
            line-height: 110%;
            text-transform: uppercase;
            margin: 25px 25px;
        }

        .footer-redline {
            @include redline-style;
        }

        .footer-btn {
            position: relative;
            height: 2.8rem;
            width: 10.3rem;
            background: linear-gradient(115deg, hsl(203, 90%, 40%) 75%,
                    hsl(200, 50%, 53%) 25%);
            border: none;
            border-radius: $border-radius;
            cursor: pointer;

            p {
                position: absolute;
                left: 1rem;
                bottom: 10px;
                text-transform: uppercase;
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 16px;
                color: #ffffff;
            }

            img {
                position: absolute;
                right: 10px;
                bottom: 13px;
                width: 14px;
                height: 16px;
            }
        }

        .footer-btn:hover {
            background: linear-gradient(115deg, hsl(200, 50%, 53%) 75%,
                    hsl(203, 90%, 40%)25%);
        }
    }

    .footer-inputs {
        margin-top: 5rem;
    }

    h2 {
        font-family: $font-family-poppins;
        font-weight: $font-weight-semi-bold;
        font-size: 22px;
        line-height: 130%;
        color: $fourth-color;
        text-transform: capitalize;
        text-align: center;
    }

    .footer-inputs-group {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 19px;
        gap: 20px;

        input {
            width: 13.4rem;
            height: 3rem;
            padding: 0;
            border: none;
            border-radius: $border-radius;
            padding-left: 2rem;

            &::placeholder {
                font-family: $font-family-poppins;
                font-weight: $font-weight-semi-bold;
                font-size: 18px;
                line-height: 130%;
                text-transform: capitalize;
                color: $primary-color;
                margin: 0;
            }
        }

        .footer-btn-2 {
            width: 2.7rem;
            height: 2.7rem;
            border-radius: 50%;
            border: none;
            margin-top: 3px;
            transition: 0.3s ease;

            img {
                width: 15px;
                height: 16px;
                margin-top: 3px;
            }
        }
    }

    .footer-links-1, 
    .footer-links-2,
    .footer-links-3 {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 20px;
        margin-top: 4rem;


        a {
            font-family: $secondary-font-family-Lato;
            font-weight: $lato-font-weight-bold;
            font-size: 14px;
            line-height: 150%;
            text-decoration: none;
            color: $fourth-color;
        }
    }

    .footer-links-2 {
        font-weight: $font-weight-regular;
        margin-top: 28px;
    }

    .footer-line {
        margin-top: 38px;
        height: 1px;
        width: 100%;
        background-color: white;
    }

    .footer-links-3 {
        margin-top: 32px;
        line-height: 150%;

        a:nth-of-type(1) {
            margin-right: 12.5rem;
        }

        a:nth-of-type(4) {
            margin-left: 12.5rem;
        }
    }
}